:root {
    background-color: #330066;
}

body {
    display: flex;
    justify-content: center;
}

#quiz-container {
    background-color: white;
    margin: 10%;
    padding: 5%;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

#optionList {
    text-align: left;
}

#leaderboard-list {
    display: flex;
    text-align: center;
}

#timer {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.button {
    margin: 5px;
}

.hidden {
    display: none
}